# Ignore bundler config
/.bundle

# Ignore all environment files
.env*
!.env.example

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage files
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials
/config/master.key

# Ignore node_modules
/node_modules

# Ignore precompiled assets
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore DS Store files
.DS_Store

# Ignore development/test databases
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore uploaded files
/public/uploads
