services:
  - type: web
    name: Well-Intervention-Field-Ready-Digital-Guide
    runtime: ruby
    plan: free
    branch: main
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production
      - key: SECRET_KEY_BASE
        generateValue: true
